{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">


  <form action="question3" method="get" class="form" name="certificate">


 <a href="question1" class="no-back-link">Back</a>    <span class="example-back-link">Question 2 of 6</span>


 <form action="question6" method="get" class="form" name="certificate">

    <h1 class="form-title heading-medium">
    </h1>
    <!-- Certificate selection -->

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Does your enquiry about an application which has already been sent?</label>

      <label class="block-label selectable" for="radio-1">
        <input id="radio-1" type="radio" name="radio-certificate-select" value="service-complaint" data-storage="service-complaint">
        Yes
      </label>


      <label class="block-label selectable" for="radio-2">
        <input id="radio-2" type="radio" name="radio-certificate-select" value="certificate-not-received" data-storage="certificate-not-received">
        No
      </label>
    </div>


  </div>



    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
