{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">


  <a href="question2" class="no-back-link">Back</a>    <span class="example-back-link">Question 3 of 6</span>

  <form action="question41" method="get" class="form" name="certificate">

    <h1 class="form-title heading-medium">
    </h1>
    
    <!-- Date of birth -->

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Where are you applying from?</label>
    </div>

   

<div class="form-group">
      </div>
      <div class="form-group">
    <label class="form-label" for="first-name-2">Country</label>
    <select class="form-control" id="country">
  <option>United Kingdom</option>
  <option>United States</option>
  <option>Afghanistan</option>
  <option>Albania</option>
  <option>Algeria</option>
  <option>American Samoa</option>
  <option>Andorra</option>
  <option>Angola</option>
  <option>Anguilla</option>
  <option>Antigua & Barbuda</option>
  <option>Argentina</option>
  <option>Armenia</option>
  <option>Aruba</option>
  <option>Australia</option>
  <option>Austria</option>
  <option>Azerbaijan</option>
  <option>Bahamas</option>
  <option>Bahrain</option>
  <option>Bangladesh</option>
  <option>Barbados</option>
  <option>Belarus</option>
  <option>Belgium</option>
  <option>Belize</option>
  <option>Benin</option>
  <option>Bermuda</option>
  <option>Bhutan</option>
  <option>Bolivia</option>
  <option>Bosnia & Herzegovina</option>
  <option>Botswana</option>
  <option>Brazil</option>
</select>
  </div>



</div>

    </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
