{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <span class="example-back-link">Question 1</span>

  <form action="question2" method="get" class="form" name="subject">

    <h1 class="form-title heading-medium">
    </h1>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">What is the subject of your enquiry?</label>
    </div>

    <!-- Certificate selection -->
    <div class="form-group">
    <label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="subject" value="Application form" data-storage="Application form">
    Application form
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="subject" value="Customer services" data-storage="Customer services">
    Customer services
  </label>
  <label class="block-label" for="radio-3">
    <input id="radio-3" type="radio" name="subject" value="Lost, stolen or damaged passports" data-storage="Lost, stolen or damaged passports">
    Lost, stolen or damaged passports
  </label>
  <label class="block-label" for="radio-4">
    <input id="radio-4" type="radio" name="subject" value="Passport application" data-storage="Passport application">
    Application process
  </label>
  <label class="block-label" for="radio-5">
    <input id="radio-5" type="radio" name="subject" value="Passport eligibility" data-storage="Passport eligibility">
    Eligibility
  </label>
  <label class="block-label" for="radio-6">
    <input id="radio-6" type="radio" name="subject" value="Passport fees" data-storage="Passport fees">
    Fees
  </label>
  <label class="block-label" for="radio-7">
    <input id="radio-7" type="radio" name="subject" value="Passport interview" data-storage="Passport interview">
    Interview
  </label>
    <label class="block-label" for="radio-8">
    <input id="radio-6" type="radio" name="subject" value="Passport photos" data-storage="Passport photos">
    Photos
  </label>
      <label class="block-label" for="radio-9">
    <input id="radio-6" type="radio" name="subject" value="Supporting documents" data-storage="Supporting documents">
    Supporting documents
  </label>
      <label class="block-label" for="radio-10">
    <input id="radio-6" type="radio" name="subject" value="Transgender passport application enquiries" data-storage="Transgender passport application enquiries">
    Transgender passport application enquiries
  </label>
      <label class="block-label" for="radio-11">
    <input id="radio-6" type="radio" name="subject" value="Other" data-storage="Other">
    Other
  </label>
  </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
