{{<layout}}

{{$head}}
{{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">


  <a href="question3" class="no-back-link">Back</a>    <span class="example-back-link">Question 4 of 6</span>

  <form action="question5" method="get" class="form">

    <h1 class="form-title heading-medium">
    </h1>


    <!-- Order how -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Tell us about your enquiry</label>
    </div>

          <div class="form-group">
        <label class="form-label-bold" for="ni-number">Please provide any further details
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="complaint-details"></textarea>
      </div>

      


  <!-- Primary buttons, secondary links -->
  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
