{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}


<main id="content" role="main">

  <h1 class="heading-large">Certificate Service Enquiry Form</h1>

<div class="grid-row">
      <div class="column-two-thirds">
        <div class="text">
<p>If you are not happy with the service you have received from certificate services or you
have a query about your order for a birth, death, marriage, civil partnership or adoption
certificate, please complete the following form and the General Register Office will reply
to you within five working days.</p>
</div>

<div class="panel-indent">
<p>You’ll need the details of your original order (if you have one).</p>
</div>
</div>

<div class="column-third">
<h2 class="bold-medium">One third</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>



<p id="get-started" class="get-started group">

<a href="question1" rel="external" class="button button-get-started" role="button">Start now</a></p>
 </section>




</main>



{{/content}}

{{/layout}}
