{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="question6" class="no-back-link">Back</a>    <span class="example-back-link">Submit</span>

  <h1 class="heading-medium">
      Confirmation
    </h1>
<div class="form-group">
    <h2 class="heading-small">Details of query</h2>
</div>
<div class="grid-row">
    <div class="column-third">
      <p>
      What type of certificate ordered:
      </p>
    </div>
    <div class="column-third">
      <p>Birth certificate</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Name of person on certificate:
      </p>
    </div>
    <div class="column-third">
      <p>John Smith</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Date of order:
      </p>
    </div>
    <div class="column-third">
      <p>31 9 2014</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      How was order placed:
      </p>
    </div>
    <div class="column-third">
      <p>Online (COL number TKY1234678K)</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Type of service:
      </p>
    </div>
    <div class="column-third">
      <p>Standard</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Order number:
      </p>
    </div>
    <div class="column-third">
      <p>WPG71723B</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Type of complaint:
      </p>
    </div>
    <div class="column-third">
      <p>Service Complaint</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
      <p>(I have previously been in contact about this order.)</p>
    </div>
    </div>
<div class="form-group">
    <h2 class="heading-small">My details</h2>
</div>
    <div class="grid-row">
    <div class="column-third">
      <p>
      Name:
      </p>
    </div>
    <div class="column-third">
      <p>John Smith</p>
    </div>
    </div>

<div class="grid-row">
    <div class="column-third">
      <p>
      Email address:
      </p>
    </div>
    <div class="column-third">
      <p>smith@email.com</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Telephone:
      </p>
    </div>
    <div class="column-third">
      <p>01273 345678</p>
    </div>
    </div>

    <div class="grid-row">
    <div class="column-third">
      <p>
      Address:
      </p>
    </div>
    <div class="column-third">
      <p>1 Church Lane</p>
      <p>Westbere</p>
      <p>Canterbury</p>
      <p>Kent</p>
      <p>CT2 0HA</p>
      <p>United Kingdom</p>
    </div>
    </div>
    </div>

    <p id="submit" class="submit-query">

<a href="" rel="external" class="button button-get-started" role="button">Submit query</a></p>

</main>



{{/content}}

{{/layout}}
