{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="question09" class="no-back-link">Back</a>    








<div class="column-two-thirds">
          <header>
                <h1 class="heading-medium">Is the information you have given us correct?</h1>
          </header>
          <p>Check and make sure the information below is right. If it isn't you can change it here.</p>




      <h2 class="heading-small">Your enquiry details</h2>
      <table>
        <tbody><tr>
          <td>Enquiry type</td>
          <td>Wrong certificate received</td>
          <td><a href="personal-details#fullname" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Certificate type</td>
          <td>Birth certificate</td>
          <td><a href="personal-details#date-of-birth-day" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Name on certificate</td>
          <td>John Smith</td>
          <td><a href="personal-details#nationality" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Further desciption</td>
          <td>I would like you to send the correct certificate. The name on the one you sent is wrong.</td>
          <td><a href="contact-details#email" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Follow up enquiry</td>
          <td>No</td>
          <td><a href="contact-details#email" class="button">Change</a></td>
        </tr>
      </tbody></table>

<h2 class="heading-small">Your order details</h2>

      <table>
        <tbody><tr>
          <td>How was the order placed</td>
          <td>Online</td>
          <td><a href="personal-details#fullname" class="button">Change</a></td>
        </tr>
        <tr>
          <td>COL number</td>
          <td>COL123456/2015</td>
          <td><a href="personal-details#date-of-birth-day" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Service</td>
          <td>Standard</td>
          <td><a href="personal-details#nationality" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Order number</td>
          <td>12345-1</td>
          <td><a href="contact-details#email" class="button">Change</a></td>
        </tr>
                <tr>
          <td>Date of order</td>
          <td>22/08/2015</td>
          <td><a href="contact-details#email" class="button">Change</a></td>
        </tr>
      </tbody></table>



<h2 class="heading-small">Your personal and contact details</h2>
    
      <table>
        <tbody><tr>
          <td>Full name</td>
          <td>Jon Smith</td>
          <td><a href="personal-details#fullname" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Title</td>
          <td>Dr.</td>
          <td><a href="personal-details#date-of-birth-day" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Email address</td>
          <td>jsmith@exmple.com</td>
          <td><a href="personal-details#nationality" class="button">Change</a></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>2 Marsham Street, London, United Kingdom, SW1V 3DR</td>
          <td><a href="contact-details#email" class="button">Change</a></td>
        </tr>
      </tbody></table>







    <p id="submit" class="submit-query">

<a href="confirmation2" rel="external" class="button button-get-started" role="button">Submit query</a></p>

</main>



{{/content}}

{{/layout}}
