{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <h1 class="heading">Acknowledgement</h1>


  Thank you for your submission. Allerting the authorities to terrorist material can help save lives.
<br>
<br>

  More to report? <a href="/form">Complete the form again</a> <br>
  <a href="https://eforms.homeoffice.gov.uk/outreach/Feedback.ofml?FormName=terrorism_reporting/">Tell us what you think of this form</a> <br>
  <a href="https://www.gov.uk/">Go to the GOV.UK homepage</a>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
