{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <h1 class="heading-xlarge">Report terrorist material online</h1>

    <div class="panel-indent">
      <p>If you are reporting a crime that is happening right now or if <br>there is a threat to someone's life, call 999 immediately.</p>
    </div>

  <form name="test-form" class="form">
      <div class="form-group">
        <label class="form-label-bold" for="input-text">1. Please enter the specific web address that <br>you are reporting</label>
        <p class="form-hint">The web address can be found at the top of the browser <br>window and starts with "http:// or https://"</p><input type=
        "text" class="form-control" id="web-address" name="web-address" cols="40" />
      </div>

      <div class="form-group">
        <label class="block-label" for="checkbox-1">
          <input id="checkbox-1" type="checkbox" value="waste-animal">This material may be disturbing to the viewer</label>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="input-text">2. Describe where we can see the offensive <br>information on this page (optional)
        </p><textarea class="form-control" id="textarea" cols="40" rows="5"></textarea>
      </label>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="input-text">3. Tell us more about the material or information <br>you are submitting (optional)
        </p><textarea class="form-control" id="textarea" cols="40" rows="5"></textarea>
      </label>
      </div>

      <a href="file:///Tomcat/Jobs/HomeOffice/Reporting_terrorist_material_online/Prototype_1-simple/index.html" class="button">Send information</a>




</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
