{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <h1 class="heading-xlarge">Report online terrorist material</h1>

  <div class="column-two-thirds">

  <form action="form_2" method="get" class="form" name="certificate">

    <div class="panel-indent">
      <p>If you are reporting a crime that is happening right now or if there is a threat to someone's life, call 999 immediately.</p>
    </div>

  <!--<form name="test-form" class="form">-->
      <div class="form-group">
        <label class="form-label-bold" for="input-text">1. Enter the specific web address that you are reporting</label>
        <p class="form-hint">The web address can be found at the top of the browser window and starts with "www.", "http://" or "https://" </p>
        <input type=
        "text" class="form-control" id="web-address" name="web-address" cols="40"  required/>
      </div>

      <div class="form-group">
        <details>
          <summary><span class="summary">Add another web address</span></summary>
          <div class="panel-indent">
            <p>
              Additional web address <br>
              <input type=
              "text" class="form-control" id="web-address" name="web-address" cols="40"/>
            </p>
          <summary><span class="summary">Add another web address</span></summary>
          </div>
        </details>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="input-text">2. Describe where we can find the offensive information on this page (optional)
        </p><textarea class="form-control" id="textarea" cols="40" rows="5"></textarea>
      </label>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="input-text">3. Tell us more about the material or information you are submitting (optional)
                  <p class="form-hint">For example, how you came across it or heard about it, if you know any of the people involved, any names or locations</p>
        </p><textarea class="form-control" id="textarea" cols="40" rows="5"></textarea>
      </label>
      </div>

      <div class="form-group">
        <label class="form-label-bold" for="input-text">4. Are you willing to be contacted if more information is needed about this report?
      </label>
      </div>


<div class="form-group">
 <label class="block-label selectable" for="radio-1">
   <input class="selectable" id="radio-1" type="radio" name="radio-order-how" value="no-submit" data-storage="no-submit">
          No, submit annonymously
 </label>

  <label class="block-label selectable" for="radio-2">
    <input id="radio-2" type="radio" name="radio-order-how" value="yesfine" data-storage="yesfine">
    Yes, that is fine
  </label>
  <div class="connected optional-section optional-section-radio-order-how" data-toggle-value="yesfine">

  <div class="panel-indent">
    <div class="form-group">
      <label class="form-label" for="email">Name (optional)</label>
      <input class="form-control" id="name" name="name" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="email">Email address (optional)</label>
      <input class="form-control" id="email" name="email" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="number">Phone number (optional)</label>
      <input class="form-control" id="number" name="number" type="text">
      <label class="form-checkbox" for="checkbox-telephone-number">
  <input id="checkbox-telephone-number" name="contact-by-text-phone" type="checkbox" value="true">
  I need to be contacted using a text phone
</label>
    </div>

    <div class="form-group">
      <details>
        <summary><span class="summary">About your privacy</span></summary>
        <div class="panel-indent">
          <p>
            Your contact details will only be used if further information is required. Your details will remain confidential and will not be used for any other purpose or passed on to any other parties.
          </p>
        </div>
      </details>
    </div>
   </div>
  </div>
</div>




    <!-- Primary button -->
    <div class="form-group">
      <input type="submit" class="button" value="Submit">
    </div>
    </form>




    <!-- Feedback link -->
    <div class="form-group">
      <details>
        <summary><span class="summary">Is there anything wrong with this page?</span></summary>
          <p>
                    <div class="panel-indent">
            Help us to improve this page
          </p>
          <p>

              <div class="form-group">
                <label class="form-label" for="What_doing">What were you doing?</label>
                <input class="form-control" id="What_doing" name="What_doing" type="text">
              </div>
              <div class="form-group">
                <label class="form-label" for="What_wrong">What went wrong?</label>
                <input class="form-control" id="What_wrong" name="What_wrong" type="text">
              </div>

              <!-- Feedback submit button -->
              <div class="form-group">
                <input type="submit" class="button" value="Send feedback">
              </div>
          </p>
      </details>
    </div>
    </div>
    </div>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
