{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <h1 class="heading-xlarge">Report online terrorist material</h1>

  <form action="form_2" method="get" class="form" name="certificate">

    <div class="panel-indent">
      <p>This is a test page.</p>
    </div>


    <div class="form-group">
      <details>
        <summary><span class="summary">About your privacy</span></summary>
        <div class="panel-indent">
          <p>
            Your contact details will only be used if further information is required. Your details will remain confidential and will not be used for any other purpose or passed on to any other parties.
          </p>
          <p>
            Lorem ipsum
          </p>
        </div>
      </details>
    </div>
   </div>



    <!-- Primary button -->
    <div class="form-group">
      <input type="submit" class="button" value="Submit">
    </div>
    </form>




</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
