{{<layout}}

{{$head}}
{{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">


  <a href="question05" class="no-back-link">Back</a>    <span class="example-back-link">Question 6 of 10</span>

  <form action="question07" method="get" class="form" name="certificate">





  <!-- Order type paid for -->
  <div class="form-group">
    <label class="form-label-bold" for="ni-number">Which service did you pay for?
    </label>
  </div>
  <div class="form-group">
    <label class="block-label" for="radio-stan">
      <input id="radio-stan" type="radio" name="service-type" value="Standard" data-storage="standard">
      Standard
    </label>
    <label class="block-label" for="radio-pri">
      <input id="radio-pri" type="radio" name="service-type" value="Priority" data-storage="priority">
      Priority
    </label>
  </div>

  <!-- Order number -->
  <div class="form-group">
    <label class="form-label-bold" for="ni-number">What is the order number?
    </label>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="order-number" name="order-number">
  </div>
  <div class="form-group">
    <details>
      <summary><span class="summary">Help finding the order number</span></summary>
      <div class="panel-indent">
        <p>
          Your order number would have been given to you when you ordered by telephone.  Orders typically look like this 12345-1.
        </p>
      </div>
    </details>
  </div>


  <!-- Primary buttons, secondary links -->
  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>

</form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
{{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
