{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <form action="question04" method="get" class="form" name="certificate">

 <a href="question02" class="no-back-link">Back</a>    <span class="example-back-link">Question 3 of 7</span>

    <div class="form-group">
      <label class="form-label-bold" for="full-name">Did the event take place outside the UK?</label>
    </div>

    <!-- Certificate selection -->
    <div class="form-group">
    <label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="certificate-type" value="Yes" data-storage="Yes">
    Yes
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="certificate-type" value="No" data-storage="No">
    No
  </label>
  
  </div>
      <p class="form-hint">For example, the birth or marriage</p>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
