{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

<a href="question07" class="no-back-link">Back</a>    <span class="example-back-link">Question 8 of 10</span>

  <form action="question09" method="get" class="form" name="certificate">

   <!-- Contact details -->
   <div class="form-group">
      <label class="form-label-bold" for="full-name">What is your full name?</label>
    </div>
    <div class="form-group">
    <label class="form-label" for="first-name-2">Full name</label>
    <input class="form-control" id="first-name-2" type="text" name="first-name-2" required>
  </div>

    <div class="form-group">
    <label class="form-label" for="first-name-2">Title</label>
    <input class="form-control" id="first-name-2" type="text" name="first-name-2" required>
    <p class="form-hint">(Optional)</p>
  </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
    </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
