{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

<a href="question09" class="no-back-link">Back</a>    <span class="example-back-link">Question 10 of 10</span>

  <form action="confirmation" method="get" class="form" name="certificate">

   <!-- Contact details -->
   <!-- Contact details -->
   <div class="form-group">
      <label class="form-label-bold" for="full-name">What is your address?</label>
    </div>


  <!-- Address -->
  <div class="form-group">
      <label class="form-label-bold" for="full-name">Address</label>
      </div>
      <div class="form-group">
    <label class="form-label" for="first-name-2">Country</label>
    <select class="form-control" id="country">
  <option>United Kingdom</option>
  <option>United States</option>
  <option>Afghanistan</option>
  <option>Albania</option>
  <option>Algeria</option>
  <option>American Samoa</option>
  <option>Andorra</option>
  <option>Angola</option>
  <option>Anguilla</option>
  <option>Antigua & Barbuda</option>
  <option>Argentina</option>
  <option>Armenia</option>
  <option>Aruba</option>
  <option>Australia</option>
  <option>Austria</option>
  <option>Azerbaijan</option>
  <option>Bahamas</option>
  <option>Bahrain</option>
  <option>Bangladesh</option>
  <option>Barbados</option>
  <option>Belarus</option>
  <option>Belgium</option>
  <option>Belize</option>
  <option>Benin</option>
  <option>Bermuda</option>
  <option>Bhutan</option>
  <option>Bolivia</option>
  <option>Bosnia & Herzegovina</option>
  <option>Botswana</option>
  <option>Brazil</option>
</select>
  </div>

    <label class="form-label" for="address">Address</label>
             <div class="form-group">
    <input class="form-control" id="street-address" type="text">
         </div>
         <div class="form-group">
    <input class="form-control" id="street-address-2" type="text">
         </div>
         <div class="form-group">
    <input class="form-control" id="street-address-3" type="text">
         </div>
         <div class="form-group">
    <input class="form-control" id="street-address-4" type="  text">
         </div>
         <div class="form-group">
    <input class="form-control" id="street-address-5" type="text">
         </div>




    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
      <span class="form-hint">You will be able to confirm all details on the following page</span>
    </div>
    </form>


</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
