{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

<a href="question03" class="no-back-link">Back</a>    <span class="example-back-link">Question 4 of 10</span>

  
  <form action="question05" method="get" class="form" name="certificate">


    <!-- Certificate selection -->


      <div class="form-group">
        <label class="form-label-bold" for="ni-number">Provide the names and any initials on the certificate you received
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="complaint-details" name="complaint-details"></textarea>
      </div>


      <div class="form-group">
        <label class="form-label-bold" for="ni-number">Provide the names initials on the bottom right of the certificate you received
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="complaint-details" name="complaint-details"></textarea>
      </div>


      <div class="form-group">
        <label class="form-label-bold" for="ni-number">Provide further details
        </label>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="complaint-details" name="complaint-details"></textarea>
      </div>

      <div class="form-group">


    <div class="form-group">

        I have previously been in contact about this
        <br>
    <label class="block-label" for="radio-1">
    <input id="radio-1" type="radio" name="certificate-type" value="Birth" data-storage="Birth">
    Yes
  </label>
  <label class="block-label" for="radio-2">
    <input id="radio-2" type="radio" name="certificate-type" value="Marriage" data-storage="Marriage">
    No
  </label>
      </div>
    


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
