{{<layout}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">


  <form action="question04" method="get" class="form" name="certificate">


 <a href="question02" class="no-back-link">Back</a>    <span class="example-back-link">Question 3 of 10</span>


<div class="form-group">
      <label class="form-label-bold" for="full-name">What is the name on the certificate you requested</label>
    </div>

    <!-- Name -->
    <div class="form-group">
    <div class="form-group">
    <label class="form-label" for="first-name-2">Full name</label>
    <input class="form-control" id="first-name-2" type="text" name="first-name" required>
  </div>


  </div>


    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main><!-- / #page-container -->
{{/content}}

{{$bodyEnd}}
  {{>includes/elements_scripts}}
{{/bodyEnd}}

{{/layout}}
