{{<layout}}

{{$pageTitle}}Sample page{{/pageTitle}}

{{$content}}


<main id="content" role="main">

  <h1 class="heading-large">Enquire about your certificate order</h1>

<div class="grid-row">
      <div class="column-two-thirds">
        <div class="text">
<p>If you are not happy with the service you have received from certificate services or you
have a query about your order for a birth, death, marriage, civil partnership or adoption
certificate, please complete the following form and the General Register Office will reply
to you within five working days.</p>
</div>

<div class="panel-indent">
<p>You’ll need the details of your original order (if you have one).</p>
</div>
</div>

<div class="column-third">
<h2 class="bold-medium"></h2>
      <p>
      </p>
    </div>
  </div>



<p id="get-started" class="get-started group">

<a href="question01" rel="external" class="button button-get-started" role="button">Start now</a></p>
 </section>




</main>



{{/content}}

{{/layout}}
